In [1]:
import os
import sys
from pathlib import Path
import pandas as pd
import numpy as np
from dateutil import parser
from datetime import datetime, timedelta
import requests
import openpyxl
from pandas_market_calendars import get_calendar
from requests.adapters import HTTPAdapter
from requests.exceptions import RequestException, HTTPError, ConnectionError, Timeout

# Funções

In [2]:
def workday() -> datetime:
    return get_calendar('BMF').schedule(
        data_ini=(datetime.now() - timedelta(days=90)).strftime("%d/%m/%Y"),
        data_fim=datetime.now().strftime("%d/%m/%Y")
    ).loc[::-1, ("market_open")].iloc[0].date()

# Main

In [3]:
USER = Path(os.path.expanduser("~"))

In [4]:
excel_path = USER / r"C:\Users\GiordanoBrunoGava\OneDrive - WISIR\General\3 - OPERACIONAL\1 - DADOS\01 - PYTHON\02 - CONSOLIDADOS\COTAJ_ACAO_CONSOLIDADO.xlsx"
dados_cotacao__aj_consolidado_excel = pd.read_excel(excel_path)

In [5]:
dados_cotacao__aj_consolidado_excel

,Data,IVVB11,BOVA11,NASD11,USSX34,XINA11,IBOV,SMAL11,IDIV,BDRX,...,CPTI11,BODB11,BDIF11,XPID11,OGIN11,GARE11,MCHY11,XPLG11,LVBI11,ALOS3
0,29/01/2024,"270,5","124,75","12,13","237,606672465","4,68",128502.0,106,8791.0,14884.0,...,"92,3441783257","8,91317598533","84,9453882851","81,6718483595","8,52076566616","8,59466865693","11,1112134366","106,050486669","113,637261909","23,0067169975"
1,30/01/2024,"270,13","123,57","12,05","237,955786001","4,6",127401.0,"104,72",8728.0,14814.0,...,"92,4369865451","8,90379369482","84,6731575127","81,5785091042","8,54879450059","8,6135580386","10,9893182681","105,45339893","113,656328564","22,7795836335"
2,31/01/2024,"266,62","123,95","11,84","231,951033185","4,58",127752.0,"106,37",8755.0,14648.0,...,"92,4833906548","8,91317598533","85,6494333864","81,5038377","8,5581374454","8,59466865693","9,58283555458","105,328203114","113,379862071","23,2338503615"
3,01/02/2024,"267,45","124,76","11,9","227,602075996","4,55",128481.0,"106,35",8800.0,14784.0,...,"91,7873290092","8,91317598533","85,6869824585","81,910081472","8,60552469592","8,65567783994","9,90163830297","104,581332165","112,273763993","23,3474170435"
4,02/02/2024,"273,01","123,32","12,23",NaN,"4,52",127182.0,"105,05",8723.0,15099.0,...,"92,5205139426","8,91317598533","85,5837225103","82,5336184244","8,60552469592","8,6461451551","10,3985955284","104,70742726","114,255122289","23,1676031303"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,18/07/2024,"344,9","124,02","15,32","212,36","5,95",127652.0,"100,3",9054.0,19761.0,...,"98,35","9,35","86,44","68,79","9,82","9,1","9,52","103,06","115,93","21,68"
120,19/07/2024,"343,76",124,"15,26","214,5","5,97",127616.0,"100,63",9003.0,19682.0,...,"98,16","9,41","87,3","68,9","9,92","9,13","9,58","104,15","116,51","21,69"
121,22/07/2024,"345,27","124,26","15,39",NaN,"6,03",127859.0,"101,8",9073.0,19788.0,...,"98,12","9,4","87,29","69,35","9,97","9,12","9,54","104,2","115,53","22,23"
122,23/07/2024,"345,5","122,95","15,38","216,91","5,93",126589.0,"99,8",8927.0,19850.0,...,"97,83","9,36","86,14","70,07","9,91","9,13","9,53","104,15","115,5","21,91"
123,24/07/2024,NaN,NaN,NaN,NaN,NaN,126422.0,NaN,8908.0,19481.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
dados_cotacao__aj_consolidado_excel['Data'] = pd.to_datetime(dados_cotacao__aj_consolidado_excel['Data'], format="%d/%m/%Y")

In [7]:
ultima_linha_com_data = dados_cotacao__aj_consolidado_excel['Data'].last_valid_index()

In [8]:
# CONSTRUIR O PAYLOAD COM AS DATAS DINÂMICAS
data_ini_1=(datetime.now() - timedelta(days=180)).strftime("%d/%m/%Y")
data_fim_1=(datetime.now() - timedelta(days=120)).strftime("%d/%m/%Y")

url = "https://www.comdinheiro.com.br/Clientes/API/EndPoint001.php"
payload = (
    f"username=wisir.research&password=wisir.research&URL=HistoricoIndicadoresFundamentalistas001.php%3F"
    f"%26data_ini%3D{data_ini_1}%26data_fim%3D{data_fim_1}"
    "%26trailing%3D12%26conv%3DMIXED%26moeda%3DMOEDA_ORIGINAL%26c_c%3Dconsolidado%26m_m%3D1000000"
    "%26n_c%3D2%26f_v%3D0%26papel%3Dexplode%28STOCK_GUIDE_WISIR%29"
    "%26indic%3DPRECO_AJ%28%2C%2C%2CA%2CC%29%26periodicidade%3Ddu%26graf_tab%3Dtabela%26desloc_data_analise%3D1"
    "%26flag_transpor%3D0%26c_d%3Dc%26enviar_email%3D0%26enviar_email_log%3D0%26cabecalho_excel%3Dmodo1"
    "%26relat_alias_automatico%3Dcmd_alias_01&format=json3"
)
        
headers = {"Content-Type": "application/x-www-form-urlencoded"}
querystring = {"code": "import_data"}

#SOLICITAÇÃO DA API
response_1 = requests.post(url, data=payload, headers=headers, params=querystring, timeout=1800)

In [9]:
# CONSTRUIR O PAYLOAD COM AS DATAS DINÂMICAS
data_ini_2=(datetime.now() - timedelta(days=119)).strftime("%d/%m/%Y")
data_fim_2=(datetime.now() - timedelta(days=60)).strftime("%d/%m/%Y")

url = "https://www.comdinheiro.com.br/Clientes/API/EndPoint001.php"
payload = (
    f"username=wisir.research&password=wisir.research&URL=HistoricoIndicadoresFundamentalistas001.php%3F"
    f"%26data_ini%3D{data_ini_2}%26data_fim%3D{data_fim_2}"
    "%26trailing%3D12%26conv%3DMIXED%26moeda%3DMOEDA_ORIGINAL%26c_c%3Dconsolidado%26m_m%3D1000000"
    "%26n_c%3D2%26f_v%3D0%26papel%3Dexplode%28STOCK_GUIDE_WISIR%29"
    "%26indic%3DPRECO_AJ%28%2C%2C%2CA%2CC%29%26periodicidade%3Ddu%26graf_tab%3Dtabela%26desloc_data_analise%3D1"
    "%26flag_transpor%3D0%26c_d%3Dc%26enviar_email%3D0%26enviar_email_log%3D0%26cabecalho_excel%3Dmodo1"
    "%26relat_alias_automatico%3Dcmd_alias_01&format=json3"
)
        
headers = {"Content-Type": "application/x-www-form-urlencoded"}
querystring = {"code": "import_data"}

#SOLICITAÇÃO DA API
response_2 = requests.post(url, data=payload, headers=headers, params=querystring, timeout=1800)

In [10]:
# CONSTRUIR O PAYLOAD COM AS DATAS DINÂMICAS
data_ini_3=(datetime.now() - timedelta(days=59)).strftime("%d/%m/%Y")
data_fim_3=datetime.now().strftime("%d/%m/%Y") 

url = "https://www.comdinheiro.com.br/Clientes/API/EndPoint001.php"
payload = (
    f"username=wisir.research&password=wisir.research&URL=HistoricoIndicadoresFundamentalistas001.php%3F"
    f"%26data_ini%3D{data_ini_3}%26data_fim%3D{data_fim_3}"
    "%26trailing%3D12%26conv%3DMIXED%26moeda%3DMOEDA_ORIGINAL%26c_c%3Dconsolidado%26m_m%3D1000000"
    "%26n_c%3D2%26f_v%3D0%26papel%3Dexplode%28STOCK_GUIDE_WISIR%29"
    "%26indic%3DPRECO_AJ%28%2C%2C%2CA%2CC%29%26periodicidade%3Ddu%26graf_tab%3Dtabela%26desloc_data_analise%3D1"
    "%26flag_transpor%3D0%26c_d%3Dc%26enviar_email%3D0%26enviar_email_log%3D0%26cabecalho_excel%3Dmodo1"
    "%26relat_alias_automatico%3Dcmd_alias_01&format=json3"
)
        
headers = {"Content-Type": "application/x-www-form-urlencoded"}
querystring = {"code": "import_data"}

#SOLICITAÇÃO DA API
response_3 = requests.post(url, data=payload, headers=headers, params=querystring, timeout=1800)

In [11]:
data_1 = list()
for lin in (table := response_1.json()["tables"]["tab0"]):
    data_1.append(table[lin])

In [12]:
dados_cotacao__aj_novos_1 = pd.DataFrame(data_1)

In [13]:
data_2 = list()
for lin in (table := response_2.json()["tables"]["tab0"]):
    data_2.append(table[lin])

In [14]:
dados_cotacao__aj_novos_2 = pd.DataFrame(data_2)

dados_cotacao__aj_novos_2 = dados_cotacao__aj_novos_2.iloc[1:].reset_index(drop=True)
dados_cotacao__aj_novos_2.reset_index(drop = True)

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col812,col813,col814,col815,col816,col817,col818,col819,col820,col821
0,28/03/2024,"292,6","124,33","12,76","205,269429943","5,03",128106,109,8728,16200,...,"98,7895274227","9,04434506455","89,6819754326","80,5388285334","9,48472089623","8,82468725619","9,38116678642","107,709334659","115,531766351","22,637625281"
1,01/04/2024,"294,7","123,29","12,89",,"5,15",126990,"107,79",8712,16355,...,"99,1288437583","9,05402851751","89,5764559407","80,8000983124","9,54314833502","8,76347892226","9,39071990942","107,227303661","115,424340364","22,4104919169"
2,02/04/2024,"292,7","123,74","12,78","207,445501511","5,16",127548,"106,85",8749,16254,...,"98,2466212858","9,07339542343","89,8834217353","81,2839312364","9,53341042855","8,8023413565","9,37161366342","107,709334659","114,564932465","22,4199558071"
3,03/04/2024,"291,95","123,54","12,76","211,41832942","5,15",127318,"106,05",8753,16226,...,"98,120589504","9,07339542343","89,845051011","81,5161710399","9,53341042855","8,81205696506","9,34295429442","107,227303661","116,068896287","22,5524502694"
4,04/04/2024,"289,01","123,68","12,6",,"5,13",127427,107,8794,16079,...,"97,8782206928","9,07339542343","89,8834217353","80,7033317276","9,51393461562","8,77319453082","9,34295429442","107,030556315","115,590362344","22,5997697203"
5,05/04/2024,"292,81","122,9","12,82","207,834798718","5,11",126795,"105,9",8741,16301,...,"97,7231046537","9,11212923527","89,7491242002","80,9162182141","9,56262414794","8,88978183355","9,59133549243","107,030556315","115,434106362","22,5429863793"
6,08/04/2024,291,"125,13","12,66","207,215915979","5,1",128857,108,8874,16197,...,"97,4419568328","9,13149614119","90,075275357","80,2969120714","9,49445880269","8,82177257362","9,61044173843","107,296165232","115,971236299","22,7417280728"
7,09/04/2024,"290,2","126,21","12,68",,"5,12",129890,"109,4",8943,16118,...,"97,4807358426","9,10244578231","90,1712021678","80,3646486808","9,49445880269","8,85091939931","9,48625113943","107,591286251","115,463404359","22,8458308646"
8,10/04/2024,291,"124,15","12,74","215,710580678","5,15",128053,"106,65",8844,16286,...,"97,9169997026","9,09276232935","90,0177192705","80,5291518749","9,57236205441","8,84120379075","9,47669801643","107,610960986","115,834512315","22,1833585529"
9,11/04/2024,"294,1","123,72",13,,"5,21",127396,"105,74",8816,16520,...,"97,7231046537","9,10244578231","89,9313851407","75,4489061726","9,58209996087","8,85091939931","9,44803864743","107,237141028","115,922406305","22,0697918709"
10,12/04/2024,"292,1","122,12","12,85","210,80942866","5,1",125946,"103,15",8694,16347,...,"97,7618836635","9,10244578231","89,8354583299","73,1942447467","9,6015757738","8,86063500787","9,58178236943","106,814134234","116,352110254","21,6155251429"
11,15/04/2024,"291,55","121,55","12,79","215,391157329","5,16",125333,"101,5",8715,16317,...,"97,6261571292","9,10244578231","89,4997144921","72,2556088741","9,63078949319","8,88006622499","9,49580426243","105,791048034","115,434106362","21,1423306345"
12,16/04/2024,"295,81","120,85","13,01","212,755914696","5,17",124388,"100,45",8626,16568,...,"97,3740935657","9,09276232935","89,2311194218","71,6363027313","9,53341042855","8,86063500787","9,43784411434","105,259830199","115,512234353","20,8962694901"
13,17/04/2024,"292,4","120,54","12,79","206,008096439","5,18",124171,"99,85",8647,16375,...,"97,7134099013","9,11212923527","89,5026333692","71,2202064167","9,59183786734","8,84120379075","9,32192381815","105,11226969","114,916508424","20,6596722359"
14,18/04/2024,"292,3","120,48","12,66",,"5,24",124196,"99,07",8645,16287,...,"97,4322620803","9,10244578231","89,5220272225","70,9492599792","9,57236205441","8,83148818218","9,38954399093","104,571214488","114,252420502","20,4893222129"
15,19/04/2024,287,"121,52","12,36","199,120530466","5,18",125124,101,8734,15859,...,"98,0139472271","9,11212923527","89,696571903","70,5234870061","9,57236205441","8,87035061643","9,4571641637","104,45316608","114,164526512","20,5461055539"
16,22/04/2024,"288,29","121,8","12,39","203,133286294","5,25",125573,"101,11",8762,15968,...,"97,8588311879","9,11212923527","89,5026333692","71,5105061711","9,61131368027","8,82177257362","9,37988396624","104,364629774","112,592200698","20,5650333342"
17,23/04/2024,"289,7","121,41","12,52","193,870009159","5,27",125148,"100,9",8667,16081,...,"97,9169997026","9,07339542343","88,435971433","71,2589130506","9,61131368027","8,82177257362","9,36056391688","104,276093468","112,40664672","20,6596722359"
18,24/04/2024,"289,73","120,97","12,58","187,920749276","5,33",124740,"99,98",8618,16012,...,"97,9073049502","9,11212923527","88,2032451924","69,6816177183","9,61131368027","8,77319453082","9,17702344792","103,095609391","111,869516784","20,4420027621"
19,25/04/2024,"290,51","120,91","12,54","188,519668056","5,42",124645,"99,4",8578,16264,...,"98,6441061361","9,08307887639","87,4177941303","70,2428639101","9,61131368027","8,74404770513","9,14804337388","103,046422555","110,990576887","19,4388304043"
20,26/04/2024,"289,8","122,83","12,62",,"5,46",126526,"101,76",8673,16200,...,"98,1108947515","9,11212923527","87,7087019311","70,1267440084","9,56262414794","8,72461648801","8,98382295428","103,016910453","111,801154792","20,3000444096"
21,29/04/2024,"290,95","123,77","12,67","188,339992422","5,52",127351,"102,85",8735,16257,...,"98,2466212858","9,12181268823","88,435971433","69,7590309861","9,54314833502","8,78291013938","8,94518285555","102,997235718","112,709392684","20,3473638604"
22,30/04/2024,291,"122,38","12,61","190,286478458","5,48",125924,"100,5",8679,16293,...,"98,1108947515","9,10244578231","87,4662787638","69,8945042048","9,65026530612","8,83148818218","9,0804232011","103,036585188","113,119564636","19,76060267"
23,02/05/2024,288,"123,35","12,5","188,250154605","5,73",127122,"101,8",8842,16141,...,"98,0128818697","9,13180851064","87,553551104","68,7390612942","9,65026530612","8,83835482856","9,12872332451","104,037613959","112,538858614","20,27"
24,03/05/2024,"289,55","124,95","12,64","185,945305857","5,72",128508,105,8962,16263,...,"98,8557926537","9,18074639119","87,9220343183","69,0426098555","9,67","8,89721179745","9,33158384283","104,017791607","113,769167983","20,99"
25,06/05/2024,"292,1","124,71","12,8","191,550341405","5,72",128465,"103,1",8943,16449,...,"98,6989720428","9,13180851064","89,0080901078","71,4220389003","9,62066326531","8,84816432337","9,27362369474","103,581699865","113,680585708","20,93"
26,07/05/2024,"292,25","125,4","12,79","193,678456506","5,66",129210,"103,6",8914,16421,...,"98,5519527199","9,12202093453","88,2420328992","71,5297496801","9,61079591837","8,83835482856","9,22532357133","103,869123967","113,532948584","21,08"
27,08/05/2024,"293,4","125,75","12,82","195,446890182","5,63",129480,"104,07",8937,16481,...,"98,4049333971","9,15138366286","87,7959742713","70,4918094383","9,61079591837","8,867783313","9,38954399093","104,007880431","114,349874005","21,12"
28,09/05/2024,"298,3","124,52","12,99",,"5,83",128188,"101,75",8837,16680,...,"98,081490887","9,13180851064","87,2723402299","69,5615799763","9,61079591837","8,84816432337","9,32192381815","103,888946319","114,566408454","20,59"
29,10/05/2024,"299,35","124,01","13,06","196,29","5,89",127599,"100,65",8789,16749,...,"98,1304973279","9,16117123897","87,4080972036","69,52241242","9,61079591837","8,91683078708","9,46682418838","104,047525135","115,43254625","21,2"
30,13/05/2024,"299,1","124,56","13,05","196,15","5,99",128154,"100,91",8871,16745,...,"97,8070548177","9,20032154341","87,2820371566","69,6203313108","9,5417244898","8,89721179745","9,31226379347","102,848272844","115,31443655","21,37"
31,14/05/2024,"299,3","124,81","13,1",,"5,95",128515,101,8890,16819,...,"98,189305057","9,17095881508","87,6408234442","70,2078446552","9,53185714286","8,88740230263","9,26396367006","102,679782853","114,654990729","21,37"
32,15/05/2024,"303,2","124,23","13,33",,"6,01",128027,"102,2",8908,17063,...,"98,1599011925","9,1905339673","87,1947648164","69,6692907561","9,55159183673","8,94625927152","9,27362369474","103,32400929","114,841997753","22,13"
33,16/05/2024,"302,65","124,55","13,26","195,01","6,11",128283,"102,01",8932,17033,...,"98,1108947515","9,1905339673","88,0722618233","68,6901018488","9,5417244898","8,97568775597","9,27362369474","103,304186938","113,975859957","22,05"
34,17/05/2024,"301,14","124,37","13,2","182,88","6,12",128150,"101,99",8900,16950,...,"98,4441385499","9,20032154341","88,8861114927","69,512620531","9,58119387755","8,96587826115","9,37134364938","103,78983456","114,645148254","21,89"
35,20/05/2024,"301,7","124,12","13,3","187,92","6,06",127750,"102,25",8915,17016,...,"98,4049333971","9,20032154341","88,5527272908","68,8369801849","9,57132653061","8,97568775597","9,34202766299","103,760101032","115,649080699","21,61"
36,21/05/2024,"303,09","123,7","13,35","186,43","5,97",127411,"101,68",8950,17130,...,"98,502946279","9,20032154341","87,3858825839","67,6521616071","9,56145918367","8,97568775597","9,24430770835","103,532143985","115,255381701","21,43"
37,22/05/2024,"304,61","122,07","13,46",,"5,97",125650,"99,85",8846,17183,...,"98,6009591609","9,17095881508","88,4938947846","66,7317240342","9,45291836735","8,92664028189","9,26385169928","103,363653994","114,792785378","21,14"
38,23/05/2024,"302,25","121,1","13,37",,"5,85",124729,"99,35",8782,17141,...,"98,6989720428","9,20032154341","88,8468898219","67,642369718","9,57132653061","8,92664028189","9,33225566752","102,95729578","113,36562651","21,06"
39,24/05/2024,"304,55","120,64","13,56","185,37","5,87",124305,"99,1",8772,17342,...,"98,6891707546","9,21010911952","88,5429218731","67,5640346054","9,62066326531","8,90702129226","9,37134364938","102,977118132","115,156956951","21,3"
40,26/05/2024,,,,,,,,,,...,,,,,,,,,,

In [15]:
data_3 = list()
for lin in (table := response_3.json()["tables"]["tab0"]):
    data_3.append(table[lin])

In [16]:
dados_cotacao__aj_novos_3 = pd.DataFrame(data_3)

dados_cotacao__aj_novos_3 = dados_cotacao__aj_novos_3.iloc[1:].reset_index(drop=True)
dados_cotacao__aj_novos_3.reset_index(drop = True)

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col812,col813,col814,col815,col816,col817,col818,col819,col820,col821
0,27/05/2024,"306,12","120,87","13,6","183,34","5,85",124495,"99,62",8780,17470,...,"98,502946279","9,17095881508","87,7879047098","65,7035756815","9,58119387755","8,89721179745","9,26385169928","102,679782853","114,271134205","21,36"
1,28/05/2024,"304,61","120,18","13,59","188,95","5,85",123779,"98,4",8733,17395,...,"98,502946279","9,0926582062","87,4643259256","65,9973323537","9,45291836735","8,85797381819","9,14658775372","103,026674012","113,434523834","21,1"
2,29/05/2024,"305,45","119,12","13,59","191,45","5,84",122707,"97,35",8672,17468,...,"98,502946279","9,17095881508","88,2193430888","65,7427432378","9,57132653061","8,89721179745","9,21499172196","102,283335815","113,139249586","21,2"
3,31/05/2024,"308,2","118,66","13,59","200,14","5,81",122098,"96,87",8593,17485,...,"98,7969849246","9,20032154341","88,1507051649","65,5664892344","9,67","8,94625927152","9,54723956772","103,918679847","114,271134205","20,97"
4,03/06/2024,308,"118,44","13,57","200,66","5,81",122031,"97,5",8610,17504,...,"99,0939698492","9,24978563773","88,0036238993","65,3092105263","9,67","8,95319205298","9,42997562216","102,284931918","114,816699516","21,16"
5,04/06/2024,"311,3","118,16","13,74","201,24","5,91",121802,"96,7",8601,17734,...,"99,3414572864","9,20032154341","88,1408997472","64,1316656699","9,69","8,93338410596","9,51792358133","103,068762515","114,35048916","21,37"
6,05/06/2024,"315,58","117,9","14,06","202,71","5,96",121407,"95,8",8566,18079,...,"99,0444723618","9,23","87,8859588869","63,3202482057","9,61","8,96309602649","9,75245147245","102,731417701","115,332506719","21,43"
7,06/06/2024,"312,9","119,4","13,93",,"5,91",122898,"97,88",8646,17975,...,"98,9454773869","9,20032154341","87,8271263806","63,3301435407","9,58","8,96309602649","9,6840475042","102,880246296","116,502992295","21,77"
8,07/06/2024,"317,03","117,13","14,11","201,55","5,85",120767,"95,32",8504,18207,...,"98,5989949749","9,20032154341","88,1997322534","61,7468899522","9,62","8,98290397351","9,82085544069","102,900090108","116,979122021","21,35"
9,10/06/2024,320,"117,35","14,24",,"5,93",120759,"94,6",8474,18376,...,"97,8565326633","9,20032154341","87,7584884567","61,1531698565","9,64","9,00271192053","9,6058715405","102,49329195","115,272990503","21,13"
10,11/06/2024,"320,52",118,"14,36",,"5,85",121635,"95,76",8549,18470,...,"96,9259798995","9,19042872454","87,3956880016","61,4005532297","9,57","8,96309602649","9,47883559947","102,542901482","113,824762587","21,24"
11,12/06/2024,326,"116,46","14,68","201,23","5,93",119936,"94,21",8448,18879,...,"97,0150753769","9,18053590568","87,748683039","61,4104485646","9,6","8,94328807947","9,30293968113","101,580476572","112,436050887","20,96"
12,13/06/2024,"324,7","116,18","14,65",,"5,88",119567,"93,45",8452,18828,...,"96,5201005025","9,16075026795","87,3270500777","60,4604964115","9,6","8,88386423841","9,29316768567","100,75695835","110,898548647","20,72"
13,14/06/2024,"325,38","116,22","14,77",,"5,87",119662,"93,37",8437,18812,...,"96,510201005","9,22010718114","87,91537514","63,3301435407","9,73","8,90367218543","9,34202766299","101,868211854","110,928306755","20,82"
14,17/06/2024,"330,1","115,74","15,06",,"5,96",119137,93,8400,19171,...,"96,6190954774","9,18053590568","87,0526819709","66,595604067","9,7","8,91357615894","9,26385169928","101,739227072","109,668546855","20,65"
15,18/06/2024,"331,93","116,12","15,1",,"5,98",119630,"93,3",8463,19264,...,"96,7081909548","9,20032154341","87,4493225084","64,7154904306","9,8","8,91357615894","9,26385169928","101,749148979","109,698304963","20,59"
16,19/06/2024,"332,75","116,76","15,23",,"5,94",120261,"93,49",8510,19432,...,"96,7180904523","9,20032154341","87,4096584546","65,3092105263","9,76","8,93338410596","9,21441812564","101,53086704","110,799354954","20,61"
17,20/06/2024,"332,68","117,12","15,05","203,16","6,02",120445,94,8560,19254,...,"96,3815075377","9,27946409432","87,9451231803","65,6060705742","9,74","8,90367218543","9,26385169928","100,608129756","110,700161261","20,64"
18,21/06/2024,"330,85","118,02","14,95","200,12","5,94",121341,"94,39",8623,19140,...,"96,9754773869","9,22010718114","87,4790705487","65,2993151914","9,73","8,88386423841","9,36271884655","96,2524128955","109,916531088","20,83"
19,24/06/2024,327,"119,08","14,62",,"5,93",122636,"96,3",8712,18806,...,"96,2627135678","9,23","87,6476427772","65,8138726077","9,66","8,91357615894","9,382492276","96,5401481778","109,767740548","21,3"
20,25/06/2024,332,"118,9","14,97",,"5,92",122331,96,8699,19208,...,"96,124120603","9,21021436227","87,0130179171","65,0420364833","9,6","8,94328807947","9,47147270855","97,6017921506","111,096936033","21,28"
21,26/06/2024,"336,16","119,14","15,17",,6,122641,"96,12",8711,19489,...,"95,777638191","9,25967845659","86,9733538634","65,6753379187","9,77","8,93338410596","9,3429454171","98,5443732479","113,170084214",21
22,27/06/2024,"336,25","120,8","15,18",,"5,86",124307,"97,8",8783,19477,...,"97,3813567839","9,21021436227","87,3104983203","65,9820933014","9,79","8,93338410596","9,61977342945","99,0007809371","112,406292779","21,24"
23,28/06/2024,"339,83","120,38","15,32","210,19","5,96",123906,"96,45",8764,19721,...,"98,5","9,23","89,2242889138","66,18","9,85","8,973","9,6","99,1","110,72","21,12"
24,01/07/2024,"344,9","121,08","15,58","216,55","6,05",124718,"96,35",8796,20046,...,"97,18","9,27","88,55","65,99","9,66","8,98","9,56045314109","99,1","107,89","21,08"
25,02/07/2024,"347,01","121,33","15,81","217,31","6,11",124787,"96,78",8805,20245,...,"96,5","9,26","87,7468029115","65,9","9,7","8,96","9,55056642636","98,29","107,71","20,77"
26,03/07/2024,342,"122,14","15,67",,"6,09",125661,"98,53",8841,20104,...,97,"9,29","88,0145352744","65,88","9,74","8,95","9,28362512873","98,75","106,13","21,24"
27,04/07/2024,"337,92","122,62","15,51",,"5,95",126163,"100,63",8909,19946,...,"96,85","9,31","87,8757110862","65,97","9,65","8,97","9,3429454171","100,4","108,6","21,85"
28,05/07/2024,"338,51","122,7","15,53",,"5,9",126267,"101,5",8895,19884,...,"97,64","9,3","89,1945408735","66,38","9,8","9,03","9,44181256437","101,5","108,42","22,2"
29,08/07/2024,"339,67","122,94","15,59","213,23","5,86",126548,"100,9",8904,19919,...,"97,84","9,3","88,6293281075","66,85","9,86","9,04","9,57033985582","102,81","106,85",22
30,09/07/2024,"336,22","123,54","15,44",,"5,88",127108,"102,28",8929,19770,...,"97,32","9,3","89,2044568869","67,19","9,85","9,05","9,52090628218","102,95","107,36","22,13"
31,10/07/2024,"339,65","123,5","15,59",,"5,83",127218,102,8938,19993,...,"97,92","9,3","88,9069764838","68,22","9,9","9,04","9,44181256437",103,"108,67","21,9"
32,11/07/2024,"338,5","124,57","15,33",,"5,99",128293,"102,82",9035,19727,...,"98,96","9,3","88,55","68,3","9,9","9,08","9,42203913491","103,3","109,53","21,9"
33,12/07/2024,"339,87","125,2","15,4",,"6,04",128896,"102,7",9071,19781,...,99,"9,33","88,55",68,"9,88","9,09","9,52090628218","103,48","110,76","22,1"
34,15/07/2024,"341,44","125,72","15,44","216,64","5,93",129320,"103,4",9088,19849,...,"98,13","9,28","88,41","68,19","9,88","9,12","9,6","103,47","111,34","22,37"
35,16/07/2024,"342,76","125,37","15,43",,"5,91",129110,"103,35",9116,19837,...,"97,97","9,34","87,82","68,59","9,95","9,16","9,56","103,35","114,73","22,28"
36,17/07/2024,"341,3","125,82","15,12","210,51","5,89",129450,"103,25",9188,19547,...,98,"9,3","86,9","68,9","9,9","9,13","9,6","103,59","116,71","22,39"
37,18/07/2024,"344,9","124,02","15,32","212,36","5,95",127652,"100,3",9054,19761,...,"98,35","9,35","86,44","68,79","9,82","9,1","9,52","103,06","115,93","21,68"
38,19/07/2024,"343,76",124,"15,26","214,5","5,97",127616,"100,63",9003,19682,...,"98,16","9,41","87,3","68,9","9,92","9,13","9,58","104,15","116,51","21,69"
39,22/07/2024,"345,27","124,26","15,39",,"6,03",127859,"101,8",9073,19788,...,"98,12","9,4","87,29","69,35","9,97","9,12","9,54","104,2","115,53","22,23"
40,23/07/2024,"345,5","122,95","15,38","216,91","5,93",126589,"99,8",8927,19850,...,"97,83","9,36","86,14","70,07","9,91","9,13","9,53","104,15","115,5","21,91"
41,24/07/2024,"342,5","122,86","15,01",,"5,93",126422,"98,65",8908,19481,...,"97,62","9,42","85,3","69,99","9,94","9,1","9,51","104,15","115,69","21,66"
42,25/07/2024,,,,,,,,,,...,,,,,,,,,,

In [17]:
dados_cotacao__aj_novos = pd.concat([dados_cotacao__aj_novos_1, dados_cotacao__aj_novos_2, dados_cotacao__aj_novos_3], ignore_index=True)

In [18]:
dados_cotacao__aj_novos = dados_cotacao__aj_novos.rename(
    columns = {
        # Dict comprehension para colocar os nomes antigos da coluna com os valores da primeira linha.
        nome_antigo_da_coluna: nome_novo_da_coluna for
            nome_antigo_da_coluna, nome_novo_da_coluna in
                # Zip para poder fazer unpack das duas informacoes
                zip(
                    list(dados_cotacao__aj_novos.columns), [
                        # Como os dados da primeira linha vem em formatod indeseja ja formatamos aqui
                        str(item).replace("\nPRECO_AJ(,,,A,C)", "") for
                            item in
                                # iloc para pegar a primeira linha e todas as colunas
                                list(dados_cotacao__aj_novos.iloc[0, :])
                    ]
                )
        }
)

In [19]:
dados_cotacao__aj_novos = dados_cotacao__aj_novos.drop(index = 0)

In [20]:
# ARRUMA AS DATAS ERRADAS PARA O FORMATO DAS OUTRAS
parser.parse("12-06-2024", dayfirst = True)

datetime.datetime(2024, 6, 12, 0, 0)

In [21]:
dados_cotacao__aj_novos

,Data,IVVB11,BOVA11,NASD11,USSX34,XINA11,IBOV,SMAL11,IDIV,BDRX,...,CPTI11,BODB11,BDIF11,XPID11,OGIN11,GARE11,MCHY11,XPLG11,LVBI11,ALOS3
1,29/01/2024,"270,5","124,75","12,13","237,606672465","4,68",128502,106,8791,14884,...,"92,3441783257","8,91317598533","84,9453882851","81,6718483595","8,52076566616","8,59466865693","11,1112134366","106,050486669","113,637261909","23,0067169975"
2,30/01/2024,"270,13","123,57","12,05","237,955786001","4,6",127401,"104,72",8728,14814,...,"92,4369865451","8,90379369482","84,6731575127","81,5785091042","8,54879450059","8,6135580386","10,9893182681","105,45339893","113,656328564","22,7795836335"
3,31/01/2024,"266,62","123,95","11,84","231,951033185","4,58",127752,"106,37",8755,14648,...,"92,4833906548","8,91317598533","85,6494333864","81,5038377","8,5581374454","8,59466865693","9,58283555458","105,328203114","113,379862071","23,2338503615"
4,01/02/2024,"267,45","124,76","11,9","227,602075996","4,55",128481,"106,35",8800,14784,...,"91,7873290092","8,91317598533","85,6869824585","81,910081472","8,60552469592","8,65567783994","9,90163830297","104,581332165","112,273763993","23,3474170435"
5,02/02/2024,"273,01","123,32","12,23",,"4,52",127182,"105,05",8723,15099,...,"92,5205139426","8,91317598533","85,5837225103","82,5336184244","8,60552469592","8,6461451551","10,3985955284","104,70742726","114,255122289","23,1676031303"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,19/07/2024,"343,76",124,"15,26","214,5","5,97",127616,"100,63",9003,19682,...,"98,16","9,41","87,3","68,9","9,92","9,13","9,58","104,15","116,51","21,69"
122,22/07/2024,"345,27","124,26","15,39",,"6,03",127859,"101,8",9073,19788,...,"98,12","9,4","87,29","69,35","9,97","9,12","9,54","104,2","115,53","22,23"
123,23/07/2024,"345,5","122,95","15,38","216,91","5,93",126589,"99,8",8927,19850,...,"97,83","9,36","86,14","70,07","9,91","9,13","9,53","104,15","115,5","21,91"
124,24/07/2024,"342,5","122,86","15,01",,"5,93",126422,"98,65",8908,19481,...,"97,62","9,42","85,3","69,99","9,94","9,1","9,51","104,15","115,69","21,66"
125,25/07/2024,,,,,,,,,,...,,,,,,,,,,

In [22]:
dados_cotacao__aj_novos.reset_index(drop = True)

,Data,IVVB11,BOVA11,NASD11,USSX34,XINA11,IBOV,SMAL11,IDIV,BDRX,...,CPTI11,BODB11,BDIF11,XPID11,OGIN11,GARE11,MCHY11,XPLG11,LVBI11,ALOS3
0,29/01/2024,"270,5","124,75","12,13","237,606672465","4,68",128502,106,8791,14884,...,"92,3441783257","8,91317598533","84,9453882851","81,6718483595","8,52076566616","8,59466865693","11,1112134366","106,050486669","113,637261909","23,0067169975"
1,30/01/2024,"270,13","123,57","12,05","237,955786001","4,6",127401,"104,72",8728,14814,...,"92,4369865451","8,90379369482","84,6731575127","81,5785091042","8,54879450059","8,6135580386","10,9893182681","105,45339893","113,656328564","22,7795836335"
2,31/01/2024,"266,62","123,95","11,84","231,951033185","4,58",127752,"106,37",8755,14648,...,"92,4833906548","8,91317598533","85,6494333864","81,5038377","8,5581374454","8,59466865693","9,58283555458","105,328203114","113,379862071","23,2338503615"
3,01/02/2024,"267,45","124,76","11,9","227,602075996","4,55",128481,"106,35",8800,14784,...,"91,7873290092","8,91317598533","85,6869824585","81,910081472","8,60552469592","8,65567783994","9,90163830297","104,581332165","112,273763993","23,3474170435"
4,02/02/2024,"273,01","123,32","12,23",,"4,52",127182,"105,05",8723,15099,...,"92,5205139426","8,91317598533","85,5837225103","82,5336184244","8,60552469592","8,6461451551","10,3985955284","104,70742726","114,255122289","23,1676031303"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,19/07/2024,"343,76",124,"15,26","214,5","5,97",127616,"100,63",9003,19682,...,"98,16","9,41","87,3","68,9","9,92","9,13","9,58","104,15","116,51","21,69"
121,22/07/2024,"345,27","124,26","15,39",,"6,03",127859,"101,8",9073,19788,...,"98,12","9,4","87,29","69,35","9,97","9,12","9,54","104,2","115,53","22,23"
122,23/07/2024,"345,5","122,95","15,38","216,91","5,93",126589,"99,8",8927,19850,...,"97,83","9,36","86,14","70,07","9,91","9,13","9,53","104,15","115,5","21,91"
123,24/07/2024,"342,5","122,86","15,01",,"5,93",126422,"98,65",8908,19481,...,"97,62","9,42","85,3","69,99","9,94","9,1","9,51","104,15","115,69","21,66"
124,25/07/2024,,,,,,,,,,...,,,,,,,,,,

In [23]:
dados_cotacao__aj_novos

,Data,IVVB11,BOVA11,NASD11,USSX34,XINA11,IBOV,SMAL11,IDIV,BDRX,...,CPTI11,BODB11,BDIF11,XPID11,OGIN11,GARE11,MCHY11,XPLG11,LVBI11,ALOS3
1,29/01/2024,"270,5","124,75","12,13","237,606672465","4,68",128502,106,8791,14884,...,"92,3441783257","8,91317598533","84,9453882851","81,6718483595","8,52076566616","8,59466865693","11,1112134366","106,050486669","113,637261909","23,0067169975"
2,30/01/2024,"270,13","123,57","12,05","237,955786001","4,6",127401,"104,72",8728,14814,...,"92,4369865451","8,90379369482","84,6731575127","81,5785091042","8,54879450059","8,6135580386","10,9893182681","105,45339893","113,656328564","22,7795836335"
3,31/01/2024,"266,62","123,95","11,84","231,951033185","4,58",127752,"106,37",8755,14648,...,"92,4833906548","8,91317598533","85,6494333864","81,5038377","8,5581374454","8,59466865693","9,58283555458","105,328203114","113,379862071","23,2338503615"
4,01/02/2024,"267,45","124,76","11,9","227,602075996","4,55",128481,"106,35",8800,14784,...,"91,7873290092","8,91317598533","85,6869824585","81,910081472","8,60552469592","8,65567783994","9,90163830297","104,581332165","112,273763993","23,3474170435"
5,02/02/2024,"273,01","123,32","12,23",,"4,52",127182,"105,05",8723,15099,...,"92,5205139426","8,91317598533","85,5837225103","82,5336184244","8,60552469592","8,6461451551","10,3985955284","104,70742726","114,255122289","23,1676031303"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,19/07/2024,"343,76",124,"15,26","214,5","5,97",127616,"100,63",9003,19682,...,"98,16","9,41","87,3","68,9","9,92","9,13","9,58","104,15","116,51","21,69"
122,22/07/2024,"345,27","124,26","15,39",,"6,03",127859,"101,8",9073,19788,...,"98,12","9,4","87,29","69,35","9,97","9,12","9,54","104,2","115,53","22,23"
123,23/07/2024,"345,5","122,95","15,38","216,91","5,93",126589,"99,8",8927,19850,...,"97,83","9,36","86,14","70,07","9,91","9,13","9,53","104,15","115,5","21,91"
124,24/07/2024,"342,5","122,86","15,01",,"5,93",126422,"98,65",8908,19481,...,"97,62","9,42","85,3","69,99","9,94","9,1","9,51","104,15","115,69","21,66"
125,25/07/2024,,,,,,,,,,...,,,,,,,,,,

In [24]:
if dados_cotacao__aj_consolidado_excel.index.duplicated().any():
    dados_cotacao__aj_consolidado_excel = dados_cotacao__aj_consolidado_excel.reset_index(drop=True)
if dados_cotacao__aj_novos.index.duplicated().any():
    dados_cotacao__aj_novos = dados_cotacao__aj_novos.reset_index(drop=True)

In [25]:
dados_cotacao__aj_consolidado_excel = dados_cotacao__aj_consolidado_excel.loc[:, ~dados_cotacao__aj_consolidado_excel.columns.duplicated()]
dados_cotacao__aj_novos = dados_cotacao__aj_novos.loc[:, ~dados_cotacao__aj_novos.columns.duplicated()]

In [26]:
# SALVA O DF CONCATENANDO NO EXCEL
output_path = USER / r'OneDrive - WISIR\General\3 - OPERACIONAL\1 - DADOS\01 - PYTHON\02 - CONSOLIDADOS\COTAJ_ACAO_CONSOLIDADO.xlsx'

dados_cotacao__aj_novos = dados_cotacao__aj_novos.drop(dados_cotacao__aj_novos.index[-1])
dados_cotacao__aj_novos.to_excel(output_path, index=False)

df = pd.read_excel(output_path)
df.replace(['-', '[]'], np.nan, inplace=True)
df = df.dropna(how='all', subset=df.columns.difference(['DATA']))
df.to_excel(output_path, index=False)


print('Dados atualizados e salvos no Excel.')
print('URL construída:', url + payload)

Dados atualizados e salvos no Excel.
URL construída: https://www.comdinheiro.com.br/Clientes/API/EndPoint001.phpusername=wisir.research&password=wisir.research&URL=HistoricoIndicadoresFundamentalistas001.php%3F%26data_ini%3D27/05/2024%26data_fim%3D25/07/2024%26trailing%3D12%26conv%3DMIXED%26moeda%3DMOEDA_ORIGINAL%26c_c%3Dconsolidado%26m_m%3D1000000%26n_c%3D2%26f_v%3D0%26papel%3Dexplode%28STOCK_GUIDE_WISIR%29%26indic%3DPRECO_AJ%28%2C%2C%2CA%2CC%29%26periodicidade%3Ddu%26graf_tab%3Dtabela%26desloc_data_analise%3D1%26flag_transpor%3D0%26c_d%3Dc%26enviar_email%3D0%26enviar_email_log%3D0%26cabecalho_excel%3Dmodo1%26relat_alias_automatico%3Dcmd_alias_01&format=json3